In [110]:
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [113]:
def get_data(ticker, start, end):
    data = yf.download(ticker, start=start, end=end)
    return data

def get_graph(ticker, dayz):
    """
    This is a function to get a graph of the stock price over the last X days.

    """
    date_time = datetime.now()
    #start = date_time.strftime('2017-04-30')
    start = date_time.strftime("%Y/%m/%d")
    # end = start - timedelta(days=dayz)
    end = datetime.now() + timedelta(days=dayz)
    data = yf.download(ticker, start=start, end=end)
    data.Close.plot()
    plt.show()

def sustainability(ticker):
    """
    This is a function to get the sustainability of a company.

    """
    env = yf.Ticker(ticker).sustainability
    env = data2.iloc[-3].Value
    return env

def get_financials(ticker):
    """
    This is a function to get the financials of a company.

    """
    fin = yf.Ticker(ticker).financials
    return fin

def get_recommendations(ticker):
    """
    This is a function to get the recommendations of a company.

    """
    rec = yf.Ticker(ticker).recommendations
    rec = rec.tail(5).values[:, 0:2]
    return rec

def get_earnings(ticker):
    """
    This is a function to get the earnings of a company.

    """
    earn = yf.Ticker(ticker).earnings
    return earn

def get_quarterly_earnings(ticker):
    """
    This is a function to get the quarterly earnings of a company.

    """
    qearn = yf.Ticker(ticker).quarterly_earnings
    return qearn

In [112]:
get_data('AAPL', '2021-01-01', '2021-04-12')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,128.087067,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,129.670731,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,125.305794,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,129.581635,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,130.700104,105158200
...,...,...,...,...,...,...
2021-04-05,123.870003,126.160004,123.070000,125.900002,124.799156,88651200
2021-04-06,126.500000,127.129997,125.650002,126.209999,125.106453,80171300
2021-04-07,125.830002,127.919998,125.139999,127.900002,126.781677,83466700
2021-04-08,128.949997,130.389999,128.520004,130.360001,129.220169,88844600
2021-04-09,129.800003,133.039993,129.470001,133.000000,131.837082,106686700